.activity {
   display: table-row;
	 text-align: center;
}

.activity-T {
	background: #db9833;
}

.activity-M {
	background: #b8db33;
}

.activity-A {
	background: #7e9a9a;
}

.activity-time {
	display: block;
	vertical-align: middle;
}

.activity-description {
	width: 100%;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
	overflow: hidden !important;
}