.filler {
	background: #b4b4b4;
    opacity: 0.5;
}

.day-header {
    width: 100%;
    height: 30px;
}

.day-number {
    float: right;
    margin-right: 13px;
    margin-top: 13px;
}

.today {
    background: #ffc107;
    padding: 12px;
    margin-right: 0;
    margin-top: 0;
    font-weight: bold;
}

.day-body {
    height: calc(100% - 30px);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.day-body div{    
    top: calc(50% - 30px);
    position: relative;
}

@media only screen and (max-width: 930px) {
	.day {
		display: inline-block;
		border:none;
        border-bottom: solid #000 1px;
		width: 100%;
		height: 150px;
        float: left;
	}

	.filler {
		display: none;
	}

    .day-body{
        width: 100%;
    }
} 